/* 
.div_2 {
    flex: 3
}

.div_1 {
    flex: 2
}

.columnDiv {
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    min-height: 200px;
    max-height: max-content;
    padding: 10px;
}

.area_chart {
    width: 100%;
    height: 600px;
} */